*{
    margin: 0;padding: 0;
}
.header{
    height: 30vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: Arial, sans-serif;
}
